<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <title></title>
  </head>

  <body id = "cookies">
  <h1 class = "title">Cookies</h1>
     <nav class = "navbar">
     <nav><a href="/">Home</a></nav>
      
      <nav><a href="/muffin">Muffin</a></nav>
      <nav><a href="/cake">Cake</a></nav>
     <nav><a href="/bread">Bread</a></nav>
    </nav>
    <div class="grid-container">
  <% @arr.each do |run| %>
  <div>
    <p> <%= run.name %> </p>
    <img  src ="<%= run.img%>" >
    <% run.ingredientLines.each do |description| %>
    <p><%= description %></p>
    <% end %>
       <p>$<%= run.price %></p>
  </div>
  <% end %>


    
    <script src="main.js"></script>
  </body>
</html>