<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <title></title>
  </head>
  <body id = 'index'>
     <h1 class = "title">Welcome to blah blah blah</h1>


              <div class = "mid">
               <div class="container">
                   <a href="/muffin"><img src="./img/muffin.jpg" alt="Avatar" class="front" ></a>
                     
                         <div class="text"><a href="/muffin">Muffin</a></div>
                      
                </div>
                <div class="container" >

                 <a href="/cookies"> <img src="./img/cookies.jpg" alt="Avatar" class="front" ></a>
                    
                         <div class="text"><a href="/cookies">Cookies</a></div>
                      
                </div>
             <div class="container">
                   <a href="/cake"><img src="./img/cake1.jpg"  alt="Avatar" class="front" ></a>
                     
                         <div class="text"><a href="/cake">Cake</a></div>
                      
                </div>
                </div>


    
    <script src="main.js"></script>
  </body>
</html>