<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <title></title>
  </head>
  <body id = 'index'>
     <h1 id = "topH1">Welcome to Martha’s Country Bakery</h1>


              <div class = "mid">
               <div class="container">
                   <a href="/muffin"><img src="./img/muffin.jpg" alt="Avatar" class="front" ></a>
                     
                         <div class="text"><a href="/muffin">Muffin</a></div>
                      
                </div>
                <div class="container" >

                 <a href="/cookies"> <img src="./img/cookies.jpg" alt="Avatar" class="front" ></a>
                    
                         <div class="text"><a href="/cookies">Cookies</a></div>
                      
                </div>
             <div class="container">
                   <a href="/cake"><img src="./img/cake1.jpg"  alt="Avatar" class="front" ></a>
                     
                         <div class="text"><a href="/cake">Cake</a></div>
                      
                </div>
               <div class="container">
                   <a href="/bread"><img src="./img/rec.jpg"  alt="Avatar" class="front" ></a>
                     
                         <div class="text"><a href="/recipes">Bread</a></div>
                      
                </div>
                </div>
<footer class = "bottom">
<div class="bottomfirstsection">

    <div><a href="">About us</a></div>
    <div><a href="">Menus</a></div>
    <div><a href="">What’s New</a></div>
    <div><a href="">Gallery</a></div>
    <div><a href="">Media</a></div>
    <div><a href="">Careers</a></div>
    <div><a href="">Locations</a></div>
  </div>

<small><em id ="copy">Copyright © 2019 O’Connor & Tate</em></small>








</footer>
    
    <script src="main.js"></script>
  </body>
</html>